.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.competencia {
  width: 60%;
}

.enviaBtn {
  background-color: #f4b311;
  color: #fff;
}

.voltarBtn {
  margin-right: 9px;
}
