table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: auto;
  padding: auto;
}

i {
  cursor: pointer;
}

.mat-column-acao {
  flex-direction: row-reverse;
}

#aprovar {
  color: #3fb543;
}

#reprovar {
  margin-left: 3px;
  color: #cd1b1b;
}

#deletar {
  color: #6a6a6a;
}

.dash {
  text-align: center;
}

.btnDash {
  background-color: #3fb543;
  color: #fff;
}
