.login {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 30px 0 0 200px;
  width: 100vh;
  height: 30vh;
  flex-direction: column;
  border-radius: 10px;
}

h1 {
  font-size: 30px;
  color: #000;
}

.loginBtn {
  background-color: #3fb543;
  color: #fff;
}
